[Unit]
Description=FastAPI (uvicorn) service for {{ item.name }}
After=network.target

[Service]
ExecStart=/opt/uv/default/bin/uvicorn {{ item.module }}:{{ item.callable }} \
  --host 0.0.0.0 \
  --port {{ item.port }} \
  --workers {{ item.workers | default(2) }}

WorkingDirectory={{ item.dest }}
Environment="PYTHONPATH={{ item.dest }}"
EnvironmentFile={{ item.dest }}/.env

Restart=always
RestartSec=3

User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
