server {
    listen {{ item.listen_port }};
    server_name localhost;

    root {{ item.public }};
    index index.php;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:{{ php_fpm_socket }};
        fastcgi_param HTTP_X_AUTH_USER $http_x_auth_user;
    }
}
