[Unit]
Description=Microsoft Garnet Server
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/garnet
ExecStart=/opt/garnet/build/GarnetServer --config-import-path /etc/garnet/config.json
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
