[Unit]
Description=Express App {{ item.name }}
After=network.target

[Service]
WorkingDirectory={{ item.dest }}
ExecStart=/bin/bash -lc "node {{ item.entry }}"
Restart=always
User={{ ansible_user }}

[Install]
WantedBy=multi-user.target
