[Unit]
Description=Express App {{ item.name }}
After=network.target

[Service]
WorkingDirectory={{ item.dest }}
ExecStart=/bin/bash -lc "node {{ item.entry }}"
Restart=always
RestartSec=5
User={{ ansible_user }}
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
